{% extends 'base.html' %}
{% load static %}

{% block title %}로그인{% endblock %}

{% block main_content %}
    <div class="ui middle aligned center aligned grid">
        <div class="column">
            <h2 class="ui teal center aligned header">
                <div class="content">
                    계정 로그인
                </div>
            </h2>

            <form class="ui large form" method="post">
                {% csrf_token %}
                <div class="ui stacked segment">
                    {% if form.errors %}
                        <div class="ui negative message">
                            <i class="close icon"></i>
                            <div class="header">
                                로그인 오류!
                            </div>
                            <p>사용자 이름 또는 비밀번호가 올바르지 않습니다. 다시 시도해주세요.</p>
                        </div>
                    {% endif %}

                    <div class="field">
                        <div class="ui fluid left icon input">
                            <input type="text" name="{{ form.username.name }}" id="{{ form.username.id_for_label }}" placeholder="E-mail address" autofocus>
                            <i aria-hidden="true" class="user icon"></i>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui fluid left icon input">
                            <input type="password" name="{{ form.password.name }}" id="{{ form.password.id_for_label }}" placeholder="Password">
                            <i aria-hidden="true" class="lock icon"></i>
                        </div>
                    </div>
                    <button class="ui teal large fluid button" type="submit">로그인</button>
                    <input type="hidden" name="next" value="{{ next }}">
                </div>
            </form>

            <div class="ui message">
                새로운 사용자이신가요? <a href="#">회원가입</a>
                <br>
                비밀번호를 잊으셨나요? <a href="{% url 'password_reset' %}">비밀번호 찾기</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script>
        // Semantic UI 메시지 닫기 기능 활성화
        $('.message .close').on('click', function() {
            $(this).closest('.message').transition('fade');
        });
    </script>
{% endblock %}