{% load static %}
<div class="ui inverted footer segment">
    <div class="ui container">
        <div class="ui stackable grid">
            <div class="eight wide column">
                <!-- <h4 class="ui inverted header">About HAPinUS</h4>
                <p>즐거운 독서 경험을 통해 모두가 행복해지는 세상을 꿈꿉니다.</p> -->
                <div class="ui inverted horizontal link list">
                    <a href="#" class="item">이용약관</a>
                    <a href="#" class="item">개인정보 처리방침</a>
                    <a href="#" class="item">고객센터</a>
                </div>
            </div>
            <div class="eight wide column right aligned">
                <h4 class="ui orange inverted header">HAPinUS Books</h4>
                <p>© 2025 HAPinUS. All rights reserved.</p>
            </div>

        </div>
    </div>
</div>