{% load static %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
<style>
    body {
        background-color: #efefef; /* 전체 배경색을 연한 회색으로 설정 */
    }
    .main.container {
        margin-top: 2em; /* 상단 여백 */
        max-width: 950px !important; /* 950px 보다 커지지 않도록 설정 */
    }
    .ui.footer.segment {
        margin-top: 2em; /* 푸터와 본문 사이 여백 */
    }
</style>